@import './theme';

:fullscreen {
    img {
        width: 100vw;
    }
}

.gallery{
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .folders {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .folder {  
            img {
                width: 20vw;
                margin: 20px;
                border-radius: 50px;
                border: 2px solid $primaryColor;
    
                &:hover {
                    box-shadow: 0 0 5px $primaryColor;
                }
            }
        }
    }

    .swiper {
        width: 100%;
        height: 100vh;
        background: $secondaryBackground;
        padding: 50px 0;
        display: none;
        position: absolute;
        top: 0;

        .close__swiper {
            position: absolute;
            top: 10px;
            right: 10px;

            img {
                width: 25px;
            }
        }

        .swiper-slide {
            width: 500px;
            height: 500px;
            text-align: center;
            margin-top: 100px;

            img {
                width: 50vw;
            }
        }

        .swiper-pagination {
            position: fixed;
            bottom: 50px;
            
            .swiper-pagination-bullet {
                background-color: $dotColor;
            }
            
            .swiper-pagination-bullet-active {
                background-color: $thirdColor;
            }
        }

        .swiper-button-prev, .swiper-button-next {
            color: $primaryColor;
        }
    }
}

@media(max-width: 1200px) {
    .gallery {
        .folders {
            grid-template-columns: 1fr 1fr;

            .folder {
                img {
                    width: 30vw;
                }
            }
        }
    }

}

@media(max-width: $mobileSize) {
    .gallery {
        .folders {
            grid-template-columns: 1fr;

            .folder {
                img {
                    width: 90vw;
                }
            }
        }
        .swiper {
            .swiper-slide {
                width: 300px;
                height: 300px;

                img {
                    width: 80vw;
                }

                p {
                    margin-top: 20%;
                }
            }

            .swiper-button-prev, .swiper-button-next, .swiper-pagination {
                display: none;
            }
        }

        .swiper_autumn_forest{
            top: 50vh;
        }

        .swiper_winter_forest{
            top: 100vh;
        }

        .swiper_animals {
            top: 150vh;
        }
    }
}

@media(max-width: $miniSize) {
    .gallery {
        .swiper {
            .swiper-slide {
                width: 270px;
                height: 270px;

                img {
                    width: 95vw;
                }

                p {
                    padding: 30px 0;
                }
            }

            .swiper-button-prev, .swiper-button-next {
                display: none;
            }
        }
    }
}