@import './theme';

.gallery{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .swiper {
        width: 100%;
        padding: 50px 0;

        .swiper-slide {
            width: 500px;
            height: 500px;

            img {
                width: 50vw;
            }
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                background-color: $dotColor;
            }
            
            .swiper-pagination-bullet-active {
                background-color: $thirdColor;
            }
        }

        .swiper-button-prev, .swiper-button-next {
            color: $primaryColor;
        }
      }
}

@media(max-width: $mobileSize) {
    .gallery {
        .swiper {
            .swiper-slide {
                width: 300px;
                height: 300px;

                img {
                    width: 80vw;
                }
            }

            .swiper-button-prev, .swiper-button-next {
                display: none;
            }
        }
    }
}

@media(max-width: $miniSize) {
    .gallery {
        .swiper {
            .swiper-slide {
                width: 270px;
                height: 270px;

                img {
                    width: 95vw;
                }
            }

            .swiper-button-prev, .swiper-button-next {
                display: none;
            }
        }
    }
}