.offer{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .offer__detail {
        font-size: 30px;
        width: 500px;
        height: fit-content;
        text-align: center;
        background: rgba(63, 63, 63, 0.95);
        z-index: 1000;
        position: fixed;
        top: 50%;                       
        transform: translate(0, -50%);
        border-radius: 20px;
        display: none;
       
        span {
            position: absolute;
            top: 10px;
            right: 10px;

            img {
                width: 25px;
            }
        }

        h1 {
            font-family: $fontFamily1;
            font-size: 30px;
            padding: 20px;
            margin-top: 20px;
        }
        
        hr {
            color: white;
            margin: 0 10px;
        }

        div {
            padding: 20px;
        }
    }
    
    .offer__table {
        border: solid 2px $primaryColor;
        border-radius: 50px;
        padding: 20px;
        margin: 0 auto;
        background-color: rgba(128, 128, 128, 0.4);
        position: absolute;
        width: fit-content;
        border-spacing: 10px 0;

        tr {
            padding: 10px;
            text-align: center;

            &:hover{
                font-weight: bold;
                
            }

            th {
                font-family: $fontFamily1;
                font-size: 30px;
                padding: 20px;
                border: solid 2px $primaryColor;
                border-radius: 20px;
                margin: 2px;
            }
            
            td {
                font-family: $primaryFont;
                font-size: 20px;
                padding: 10px;
                margin: 2px;

            }
        }

    }

    .offer__table--mobile{
        display: none;
    }
}

@media(max-height: $mobileHeight) {
    .offer{
        align-items: normal;
        margin: 200px 0;
    }
}

@media(max-width: 1050px) {
    .offer{
        .offer__table{
            width: 95%;
            tr {
                th {
                    padding: 20px 10px;
                }
            }
        }
    }
}

@media(max-width: $mobileSize) {
    .offer {
        align-items: normal;
        margin: 100px 0;
        min-height: 220vh;

        .offer__detail {
            width: 300px;
            min-height: 200px;
        }

        .offer__table{
            display: none;
        }
    
        .offer__table--mobile{
            display: block;
            border: solid 2px $primaryColor;
            border-radius: 50px;
            padding: 20px;
            margin: 0 auto;
            background-color: rgba(128, 128, 128, 0.4);
            position: absolute;
            width: 95%;

            tr {
                padding: 10px;
                text-align: center;

                th {
                    font-family: $fontFamily1;
                    font-size: 30px;
                    padding: 20px;
                    border: solid 2px $primaryColor;
                    border-radius: 20px;
                    margin: 2px;
                }
                
                td {
                    font-family: $primaryFont;
                    font-size: 20px;
                    padding: 10px;
                    margin: 2px;
                }
            }

        }
    }
}

@media(max-width: $miniSize) {
    .offer {
        min-height: 230vh;

        .offer__detail {
            width: 250px;
        }

        .offer__table--mobile{
            tr {
                th {
                    font-size: 25px;
                    padding: 10px;
                }

                td {
                    font-size: 18px;
                }
            }
        }
    }
}