@import './theme';

.slider {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}

@media(max-height: $mobileHeight) {
    .slider{
        height: 70vh;
    }
}

.slider__container {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    position: relative;
}

.slider__button{
    outline: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: $secondaryColor;
    color: $primaryColor;
    border: none;
    position: absolute;
    transition: background-color 0.1s ease-in;

    &:hover{
        background-color: $thirdColor;
    }

    &:disabled{
        opacity: 0.4;
        cursor: default;
        pointer-events: none;
    }

    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border: 2px solid $primaryColor;
        border-right: 0;
        border-bottom: 0;
        height: 20px;
        width: 20px;
    }
}

.slider__button--prev{
    left: 0;

    &::before{
        transform: translate(100%, 75%) rotate(-45deg);
    }
}

.slider__button--next{
    right: 0;

    &::before{
        transform: translate(50%, 75%) rotate(135deg);
    }
}

.slide__sentence {
    width: 100vw;
    font-size: 100px;
    text-align: center;
    color: $primaryColor;
}

.slider__dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  
.dot {
    width: 8px;
    height: 8px;
    background: gray;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}

.active-dot {
    background: #3f3f3f;
    cursor: default;
}

@keyframes leftNext {
    from { left: 100%; }
    to { left: 0; }
}

@keyframes leftCurr {
    from { left: 0; }
    to { left: -100%; }
}

@keyframes rightNext {
    from { left: -100%; }
    to { left: 0; }
}

@keyframes rightCurr {
    from { left: 0; }
    to { left: 100%; }
}

@media(max-width: $mobileSize) {
    .slide__sentence {
        font-size: 50px;
    }
}

@media(max-width: $miniSize) {
    .slide__sentence {
        font-size: 40px;
    }
}

.slide__caption{
    width: 100%;
    text-align: center;
    font-size: 25px;
}