$primaryColor: white;
$secondaryColor: #08ddfa;
$thirdColor: #01474a;

$fontFamily1: 'Major Mono Display', monospace;
$primaryFont: 'Syne Mono', monospace;
$secondaryFont: 'Tangerine', cursive;

$mobileSize: 676px;