$primaryColor: white;
$secondaryColor: #08ddfa;
$thirdColor: #01474a;
$activeDot: #3f3f3f;
$dotColor: grey;

$fontFamily1: 'Major Mono Display', monospace;
$primaryFont: 'Syne Mono', monospace;
$secondaryFont: 'Tangerine', cursive;

$miniSize: 300px;
$mobileSize: 676px;
$mobileHeight: 850px;