@import './theme';
@import './slider';
@import './offer';
@import './gallery';

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body,
html {
  margin: 0px;
  padding: 0px;
  position: sticky;
  background-image: url('../img/background.png');
  background-size: cover;
  background-attachment: fixed;
  color: $primaryColor;
  font-family: $secondaryFont;
  box-sizing: border-box;
  scroll-behavior: smooth;

    &::-webkit-scrollbar-track   {
        box-shadow: inset 100px 100px 16px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: $activeDot;
    }

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background-color: $activeDot;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: 1px 1px 2px -1px $primaryColor inset;
        background-color: $scrollColor;

        &:hover {
            background-color: $thirdColor;
        }
    }
}

canvas{
  filter: blur(1px);
  z-index: -900;
  position: fixed;
  top: 0;
}

main {
    z-index: 950;
}

.ico {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1050;
    
    img {
        width: 100px;
        transition: opacity 0.5s ease-out;

        &:hover {
            opacity: 0.4;
        }

        &:active {
            opacity: 0.2;
        }
    }
}

nav{
    font-size: 30px;
    width: 100%;
    height: 10vh;

    ul{
        list-style-type: none;
        float: right;
        margin-right: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 1px;

        li {
            display: inline;
            padding: 20px;
            width: 100%;
            text-align: center;

            a {
                text-decoration: none;
                color: $primaryColor;
                transition: opacity 0.2s ease-out;
 
                &:hover{
                   opacity: 0.8;                         
                }

                &:active{
                    font-weight: bold;
                }
            }
        }
    }    
}

@media(max-width: $mobileSize) {
    nav{
        ul{
            grid-template-columns: 1fr;           
            text-align: center;
            width: 100%;
            margin: 0;
            font-size: 40px;

            li{
                padding: 10px 0;
            }
        }
    }

    .ico {     
        img {
            width: 50px;
        }
    }
}

