@import './theme';
@import './slider';

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body,
html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  background-image: url('../img/background.png');
  background-size: cover;
  color: $primaryColor;
  font-family: $secondaryFont;
  box-sizing: border-box;
}
canvas{
  filter: blur(1px);
  z-index: -900;
  position: absolute;
  top: 0;
}

main {
    z-index: 950;
}

nav{
    font-size: 30px;
    width: 100%;
    height: 10vh;

    ul{
        list-style-type: none;
        float: right;
        margin-right: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 1px;

        li{
            display: inline;
            padding: 20px;
            width: 100%;
            text-align: center;

            &:hover{
                color: $secondaryColor;      
            }

            &:active{
                font-weight: bold;
            }
        }
    }    
}

@media(max-width: $mobileSize) {
    nav{
        ul{
            grid-template-columns: 1fr;           
            text-align: center;
            width: 100%;
            margin: 0;
            font-size: 40px;

            li{
                padding: 10px 0;
            }
        }
    }
}

