.slider {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-height: 850px) {
  .slider {
    height: 60vh;
  }
}

.slider__container {
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider__button {
  outline: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgba(1, 71, 74, 0);
  color: white;
  border: none;
  position: absolute;
}

.slider__button:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.slider__button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid white;
  border-right: 0;
  border-bottom: 0;
  height: 20px;
  width: 20px;
}

.slider__button--prev {
  left: 0;
}

.slider__button--prev::before {
  -webkit-transform: translate(100%, 75%) rotate(-45deg);
          transform: translate(100%, 75%) rotate(-45deg);
}

.slider__button--next {
  right: 0;
}

.slider__button--next::before {
  -webkit-transform: translate(50%, 75%) rotate(135deg);
          transform: translate(50%, 75%) rotate(135deg);
}

.slide__sentence {
  width: 100vw;
  font-size: 100px;
  text-align: center;
  color: white;
  padding: 0 60px;
}

.slider__dots {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.dot {
  width: 8px;
  height: 8px;
  background: grey;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}

.active-dot {
  background: #01474a;
  cursor: default;
}

@media (max-width: 676px) {
  .slide__sentence {
    font-size: 50px;
  }
}

@media (max-width: 300px) {
  .slide__sentence {
    font-size: 40px;
  }
}

.slide__caption {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

@-webkit-keyframes sliderAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sliderAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.offer {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer .offer__detail {
  font-size: 30px;
  width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background: rgba(63, 63, 63, 0.95);
  z-index: 1000;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 20px;
  display: none;
}

.offer .offer__detail span {
  position: absolute;
  top: 10px;
  right: 10px;
}

.offer .offer__detail span img {
  width: 25px;
}

.offer .offer__detail h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 30px;
  padding: 20px;
  margin-top: 20px;
}

.offer .offer__detail hr {
  color: white;
  margin: 0 10px;
}

.offer .offer__detail div {
  padding: 20px;
}

.offer .offer__table {
  border: solid 2px white;
  border-radius: 50px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.4);
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-spacing: 10px 0;
}

.offer .offer__table tr {
  padding: 10px;
  text-align: center;
}

.offer .offer__table tr:hover {
  font-weight: bold;
}

.offer .offer__table tr th {
  font-family: "Major Mono Display", monospace;
  font-size: 30px;
  padding: 20px;
  border: solid 2px white;
  border-radius: 20px;
  margin: 2px;
}

.offer .offer__table tr td {
  font-family: "Syne Mono", monospace;
  font-size: 20px;
  padding: 10px;
  margin: 2px;
}

.offer .offer__table--mobile {
  display: none;
}

@media (max-height: 850px) {
  .offer {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    margin: 200px 0;
  }
}

@media (max-width: 1050px) {
  .offer .offer__table {
    width: 95%;
  }
  .offer .offer__table tr th {
    padding: 20px 10px;
  }
}

@media (max-width: 676px) {
  .offer {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    margin: 50px 0;
    min-height: 220vh;
  }
  .offer .offer__detail {
    width: 300px;
    min-height: 200px;
  }
  .offer .offer__table {
    display: none;
  }
  .offer .offer__table--mobile {
    display: block;
    border: solid 2px white;
    border-radius: 50px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.4);
    position: absolute;
    width: 95%;
  }
  .offer .offer__table--mobile tr {
    padding: 10px;
    text-align: center;
  }
  .offer .offer__table--mobile tr th {
    font-family: "Major Mono Display", monospace;
    font-size: 30px;
    padding: 20px;
    border: solid 2px white;
    border-radius: 20px;
    margin: 2px;
  }
  .offer .offer__table--mobile tr td {
    font-family: "Syne Mono", monospace;
    font-size: 20px;
    padding: 10px;
    margin: 2px;
  }
}

@media (max-width: 300px) {
  .offer {
    min-height: 230vh;
  }
  .offer .offer__detail {
    width: 250px;
  }
  .offer .offer__table--mobile tr th {
    font-size: 25px;
    padding: 10px;
  }
  .offer .offer__table--mobile tr td {
    font-size: 18px;
  }
}

:-webkit-full-screen img {
  width: 100vw;
}

:-moz-full-screen img {
  width: 100vw;
}

:-ms-fullscreen img {
  width: 100vw;
}

:fullscreen img {
  width: 100vw;
}

.gallery {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .folders {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.gallery .folders .folder img {
  width: 20vw;
  margin: 20px;
  border-radius: 50px;
  border: 2px solid white;
}

.gallery .folders .folder img:hover {
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
}

.gallery .swiper {
  width: 100%;
  padding: 50px 0;
  display: none;
  position: absolute;
  top: 20%;
}

.gallery .swiper .close__swiper {
  position: absolute;
  top: 10px;
  right: 10px;
}

.gallery .swiper .close__swiper img {
  width: 25px;
}

.gallery .swiper .swiper-slide {
  width: 500px;
  height: 500px;
  text-align: center;
}

.gallery .swiper .swiper-slide img {
  width: 50vw;
}

.gallery .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: grey;
}

.gallery .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #01474a;
}

.gallery .swiper .swiper-button-prev, .gallery .swiper .swiper-button-next {
  color: white;
}

@media (max-width: 1200px) {
  .gallery .folders {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .gallery .folders .folder img {
    width: 30vw;
  }
}

@media (max-width: 676px) {
  .gallery .folders {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .gallery .folders .folder img {
    width: 90vw;
  }
  .gallery .swiper .swiper-slide {
    width: 300px;
    height: 300px;
  }
  .gallery .swiper .swiper-slide img {
    width: 80vw;
  }
  .gallery .swiper .swiper-slide p {
    margin-top: 20%;
  }
  .gallery .swiper .swiper-button-prev, .gallery .swiper .swiper-button-next, .gallery .swiper .swiper-pagination {
    display: none;
  }
}

@media (max-width: 300px) {
  .gallery .swiper .swiper-slide {
    width: 270px;
    height: 270px;
  }
  .gallery .swiper .swiper-slide img {
    width: 95vw;
  }
  .gallery .swiper .swiper-slide p {
    padding: 30px 0;
  }
  .gallery .swiper .swiper-button-prev, .gallery .swiper .swiper-button-next {
    display: none;
  }
}

.contact {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.contact .form {
  margin: 0 auto;
  background: rgba(128, 128, 128, 0.4);
  width: 50%;
  min-height: 50%;
  border: solid 2px white;
  border-radius: 20px;
  padding: 20px;
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
  position: relative;
}

.contact .form .form__label {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  margin-right: 15px;
  text-align: right;
  font-size: 30px;
}

.contact .form .form__input {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  max-width: 500px;
  font-family: "Syne Mono", monospace;
  font-size: 15px;
  color: white;
  background: rgba(128, 128, 128, 0.7);
  border: solid 1px white;
  border: none;
  border-bottom: solid 1px white;
  border-radius: 10px;
}

.contact .form .form__input::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}

.contact .form .form__input:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

.contact .form .form__input::-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

.contact .form .form__input::placeholder {
  color: white;
  opacity: 0.7;
}

.contact .form .form__button {
  background: #01474a;
  opacity: 0.8;
  padding: 20px;
  border: solid 1px white;
  border-radius: 10px;
  color: white;
  font-family: "Major Mono Display", monospace;
  width: 70%;
  max-width: 500px;
  letter-spacing: 2px;
  margin: 50px 24.5% 0;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 2px white;
          box-shadow: 0 0 2px white;
}

.contact .form .form__button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.contact .form .form__button:active {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.contact .form .form__textarea {
  vertical-align: top;
  height: 200px;
  resize: none;
}

.contact .form .form__textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 100px 100px 16px rgba(128, 128, 128, 0.7);
          box-shadow: inset 100px 100px 16px rgba(128, 128, 128, 0.7);
  border-radius: 10px;
  background-color: #3f3f3f;
}

.contact .form .form__textarea::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #3f3f3f;
}

.contact .form .form__textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 2px -1px white inset;
          box-shadow: 1px 1px 2px -1px white inset;
  background-color: rgba(128, 128, 128, 0.7);
}

.contact .form .form__textarea::-webkit-scrollbar-thumb:hover {
  background-color: #01474a;
}

@media (max-width: 1580px) {
  .contact .form {
    width: 70%;
  }
  .contact .form .form__button {
    margin: 50px 26.5% 0;
  }
}

@media (max-width: 1124px) {
  .contact .form {
    width: 80%;
  }
  .contact .form .form__label {
    max-width: 150px;
  }
  .contact .form .form__button {
    margin: 50px 22.5% 0;
  }
}

@media (max-width: 1000px) {
  .contact .form {
    width: 90%;
    margin: 50px auto;
  }
  .contact .form .form__label {
    margin: 0;
    max-width: 100vw;
    text-align: center;
  }
  .contact .form .form__input {
    margin: 10px 0;
    max-width: 100vw;
  }
  .contact .form .form__button {
    width: 100%;
    max-width: 100%;
    margin: 50px 0 0 0;
  }
}

.history {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.history .about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.history .about_us img {
  width: 40%;
  border-radius: 5px;
  margin: 20px;
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
}

.history .about_us p {
  width: 50%;
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

.history .div__socialMedia {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 50px;
}

.history .div__socialMedia .a__socialMedia {
  padding: 20px;
}

.history .div__socialMedia .a__socialMedia img {
  width: 50px;
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.history .div__socialMedia .a__socialMedia img:hover {
  opacity: 0.8;
}

.history .div__socialMedia .a__socialMedia img:active {
  opacity: 0.6;
}

@media (max-width: 1600px) {
  .history .about_us p {
    font-size: 30px;
  }
}

@media (max-width: 1200px) {
  .history .about_us p {
    font-size: 25px;
  }
}

@media (max-width: 1000px) {
  .history .about_us {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .history .about_us img {
    width: 90%;
    margin: 0 auto;
  }
  .history .about_us p {
    width: 90%;
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
html {
  margin: 0px;
  padding: 0px;
  position: -webkit-sticky;
  position: sticky;
  background-image: url("../img/background.png");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Tangerine", cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 100px 100px 16px rgba(0, 0, 0, 0.3);
          box-shadow: inset 100px 100px 16px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #3f3f3f;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #3f3f3f;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 2px -1px white inset;
          box-shadow: 1px 1px 2px -1px white inset;
  background-color: rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
  background-color: #01474a;
}

canvas {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  z-index: -900;
  position: fixed;
  top: 0;
}

main {
  z-index: 950;
}

.ico {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1050;
}

.ico img {
  width: 100px;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.ico img:hover {
  opacity: 0.4;
}

.ico img:active {
  opacity: 0.2;
}

nav {
  font-size: 30px;
  width: 100%;
  height: 10vh;
}

nav ul {
  list-style-type: none;
  float: right;
  margin-right: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1px;
}

nav ul li {
  display: inline;
  padding: 20px;
  width: 100%;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

nav ul li a:hover {
  opacity: 0.8;
}

nav ul li a:active {
  font-weight: bold;
}

.reference {
  font-family: "Major Mono Display", monospace;
  font-size: 50px;
  font-weight: bold;
  width: 100vw;
  display: block;
  margin-top: 100px;
  text-align: center;
}

footer {
  text-align: center;
  height: 50px;
  font-size: 25px;
  letter-spacing: 1px;
  background: rgba(128, 128, 128, 0.1);
  padding: 15px;
  border-top: solid 1px white;
}

@media (max-width: 676px) {
  nav ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 40px;
  }
  nav ul li {
    padding: 10px 0;
  }
  .reference {
    font-size: 40px;
  }
  .ico img {
    width: 50px;
  }
  footer {
    font-size: 15px;
  }
}

@media (max-width: 300px) {
  .reference {
    font-size: 35px;
  }
}
/*# sourceMappingURL=style.css.map */